<template>
    <AppHeader></AppHeader>
    <div class="container mt-3">
        <h1>Проекты студентов Московского Политеха</h1>
        <div class="d-flex justify-content-between mt-4">
            <input class="form-control me-2 w-50" type="search" placeholder="Поиск проектов..." v-model="searchQuery"/>
            <div class="d-flex align-self-center">
                <project-select v-model="selectedSort" :options="sortOptions"/>
                <button class="btn btn-primary ml-3">Обновить</button>
            </div>
        </div>
        <project-list class="mt-1" v-bind:projects="sortedAndSearchedProjects" @remove="removeProject" v-if="!isProjectLoading"/>
        <div v-else>Идет загрузка...</div>
        <nav>
            <ul class="pagination justify-content-center flex-row mt-3">
                <li class="page page-link" :class="{'page__current': page === pageNumber}" @click="changePage(pageNumber)" v-for="pageNumber in totalPages" :key="pageNumber"><a>{{ pageNumber }}</a>
                </li>
            </ul>
        </nav>
        <project-form @create="createProject"/>
    </div>
    <AppFooter></AppFooter>
</template>

<script>
import ProjectForm from '@/components/ProjectForm.vue';
import ProjectList from '@/components/ProjectList.vue';
import ProjectSelect from '@/components/ProjectSelect.vue';
import AppHeader from '@/components/AppHeader.vue';
import AppFooter from '@/components/AppFooter.vue';
import axios from 'axios';
export default {
    components: {
        ProjectList, ProjectForm, ProjectSelect, AppHeader, AppFooter
    },
    data(){
        return {
            projects: [],
            isProjectLoading: false,
            selectedSort: '',
            searchQuery: '',
            page: 1,
            limit: 10,
            totalPages: 0,
            sortOptions: [
                {value: 'title', name: 'По названию'},
                {value: 'body', name: 'По содержимому'},
            ]
        }
    },
    methods: {
        createProject(project) {
            this.projects.push(project);
        },
        removeProject(project) {
            this.projects = this.projects.filter(p => p.id !== project.id)
        },
        changePage(pageNumber) {
            this.page = pageNumber
        },
        async fetchProjects() {
            try {
                this.isProjectLoading = true;
                    const response = await axios.get('http://localhost:3000/projects', {
                        params: {
                            _page: this.page,
                            _limit:this.limit
                        }
                    });
                    this.totalPages = Math.ceil(response.headers['x-total-count'] / this.limit)
                    this.projects = response.data;
            } catch (e) {
                alert('Ошибка')
            } finally {
                this.isProjectLoading = false;
            }
        }
    },
    mounted() {
        this.fetchProjects();
    },
    computed: {
        sortedProjects() {
            return [...this.projects].sort((project1, project2) => {
                return project1[this.selectedSort]?.localeCompare(project2[this.selectedSort])
            })
        },
        sortedAndSearchedProjects() {
            return this.sortedProjects.filter(project => project.title.toLowerCase().includes(this.searchQuery.toLowerCase()))
        }
    },
    watch: {
        page() {
            this.fetchProjects()
        }
    }
}
</script>

<style>
.app__btns {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
/* .page__wrapper {
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.page {
    border: 1px solid black;
    padding: 10px;
}

.page__current {
    border: 2px solid black;
} */
</style>