<template>
    <AppHeader></AppHeader>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">{{ $route.params.title }}</h1>
        <p class="lead mb-4">{{ $route.params.body }}</p>
    </div>
    <div class="comments container marketing">
        <h2 class="text-center">Комментарии к проекту</h2>
        <ul class="row comments__list mt-5">
            <li class="col-lg-4 comments__item">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-normal">Анна</h2>
                <p>Интересный проект!</p>
            </li>
            <li class="col-lg-4 comments__item">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-normal">Владислав</h2>
                <p>Хотелось бы принять участие в разработке...</p>
            </li>
            <li class="col-lg-4 comments__item">
                <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
                <h2 class="fw-normal">Илья</h2>
                <p>Видел этот проект в прошлом семестре, ребята молодцы!</p>
            </li>
        </ul>
        <h3 class="text-center mt-5">Хотите выразить свое мнение по поводу этого проекта?</h3>
        <p class="text-center">Оставьте комментарий!</p>
        <form>
            <div class="mb-3 mt-4">
                <label for="name" class="form-label">Имя</label>
                <input class="form-control" type="text" id="name" placeholder="Введите ваше имя">
            </div>
            <div class="mb-3 mt-4">
                <label for="comment" class="form-label">Комментарий</label>
                <textarea class="form-control" id="comment" placeholder="Введите текст комментария"></textarea>
            </div>
            <div class="mb-3 mt-4">
                <label for="customRange3" class="form-label">Интересен ли вам данный проект?</label>
                <input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange3">
            </div>
            <button class="btn btn-primary" >Добавить комментарий</button>
        </form>
    </div>
    <AppFooter></AppFooter>
</template>

<script>
import AppHeader from '@/components/AppHeader.vue';
import AppFooter from '@/components/AppFooter.vue';
import ProjectItem from '@/components/ProjectItem.vue';
export default {
    components: {
        AppHeader, AppFooter, ProjectItem
    },
}
</script>

<style>
.comments {
    margin-top: 200px;
}
.comments__list {
    list-style: none;
}
.comments__item {
    text-align: center;
}
</style>