<template>
    <v-footer color="primary lighten-1">
        <v-col
            class="text-center"
            cols="12"
        >
            <strong>Vuetify</strong>
        </v-col>
    </v-footer>
</template>


<style>
footer {
    min-height: 50px;
}
</style>