<template>
    <div>
        <header class="bg-light">
            <nav class="navbar container">
                <div class="container-fluid">
                    <a class="navbar-brand">
                        <img src="@/assets/logo.png" alt="mospolytech" width="200" height="50" class="d-inline-block align-text-top">
                    </a>
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                        </svg>
                        <button class="btn btn-danger ml-5">Выйти</button>
                    </div>
                </div>
            </nav>            
        </header>
    </div>
</template>


<style>
/* .container {
    max-width: 1440px;
    margin: 0 auto;
} */
</style>