<template>
    <div>
        <h2>Добавление проекта</h2>
        <p>Вы студент Московского Политеха и не нашли проект над которым работали? Добавьте его самостоятельно!</p>
        <form @submit.prevent>
            <div class="mb-3 mt-4">
                <label for="title" class="form-label visually-hidden"></label>
                <input class="form-control" v-model="project.title" type="text" id="title" placeholder="Название">
            </div>
            <div class="mb-3 mt-4">
                <label for="description" class="form-label visually-hidden"></label>
                <input class="form-control" v-model="project.body" type="text" id="description" placeholder="Описание">
            </div>
            <button class="btn btn-primary" @click="createProject">Создать</button>
        </form>
    </div>
</template>

<script>
export default {
    data() {
        return {
            project: {
                title: '',
                body: '',
            }
        }
    },
    methods: {
        createProject() {
            this.project.id = Date.now();
            this.$emit('create', this.project)
            this.project = {
                title: '',
                body: '',
            }
        }
    }
}
</script>

<style>
</style>