<template>
    <div>
        <div>
            <div class="project card">
                <div class="card-body">
                    <div>
                        <h5 class="card-title">Название: {{ project.title }}</h5>
                        <p class="card-text">Описание: {{ project.body }}</p>
                    </div>
                    <button class="btn btn-danger" @click="$emit('remove', post)">Удалить</button>
                    <button class="ml-5 btn btn-outline-primary" @click="$router.push(`/${project.id}/${project.title}/${project.body}`)">Открыть</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        project: {
            type: Object,
            required: true,
        }
    }
}
</script>

<style>
.project {
    margin-top: 15px;
}

.project__link {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.btn {
    margin-top: 10px;
}
</style>