<template>
    <div v-if="projects.length > 0">
        <h2>Список проектов</h2>
        <transition-group name="project-list" >
            <project-item v-for="project in projects" :project="project" :key="project.id" @remove="$emit('remove', project)"/>
        </transition-group>
    </div>
    <h2 v-else>
        Список проектов пуст
    </h2>
</template>

<script>
import ProjectItem from './ProjectItem.vue';
export default {
    components: {ProjectItem},
    props: {
        projects: {
            type: Array,
            required: true
        }
    }
}
</script>

<style scoped>
.project-list-item {
    display: inline-block;
    margin-right: 10px;
}
.project-list-enter-active,
.project-list-leave-active {
    transition: all 0.4s ease;
}
.project-list-enter-from,
.project-list-leave-to {
    opacity: 0;
    transform: translateX(130px);
}
.project-list-move {
    transition: transform 0.4s ease;
}
</style>