<template>
    <router-view></router-view>
</template>

<script>
    export default {

    }
</script>

<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
        height: 100%;    
    }
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
footer {
    margin: -100px 0 0 0;
    height: 100px;
    position: relative;
    }
</style>